@import "variables";

.container {
  width: 100%;
  min-height: 100vh;
  font: $main-font;
  background-color: $main-bg;
  padding: 56px 46px;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 67px;
  padding-bottom: 11px;
}

.content {
  display: flex;
  gap: 26px;
  width: 100%;

  &__list {
    flex-grow: 1;
  }

  &__form {
    width: 584px;
    padding-top: 62px;
  }
}

.message {
  position: absolute;
  display: flex;
  align-items: center;
  height: 56px;
  min-width: 281px;
  color: $white;
  border-radius: 6px;
  padding: 0 26px;

  &__error {
    left: 0;
    background-color: $warn;
    box-shadow: 0 10px 15px $warn-shadow;
  }

  &__success {
    right: 0;
    background-color: $success;
    box-shadow: 0 10px 15px $success-shadow;
  }
}
