<div *ngIf="user$ | async as user">

  <form class="form" [formGroup]="userForm">
    <header class="form__header">
      <h3 class="form__title">
        {{ !user.id ? 'Create new user' : user.first_name + ' ' + user.last_name }}
      </h3>

      <button class="button form__close" (click)="closeEditor()">X</button>
    </header>

    <div class="form__field">
      <label for="username" class="form__label">Username*</label>
      <input id="username"
             class="form__input" [class.form__input_warn]="warn"
             formControlName="username" type="text">
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <div class="form__field">
      <label for="first_name" class="form__label">First name*</label>
      <input id="first_name" class="form__input"
             formControlName="first_name" type="text">
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <div class="form__field">
      <label for="last_name" class="form__label">Last name*</label>
      <input id="last_name" class="form__input"
             formControlName="last_name" type="text">
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <div class="form__field">
      <label for="email" class="form__label">Email*</label>
      <input id="email" class="form__input"
             formControlName="email" type="email">
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <div class="form__field">
      <label for="user_type" class="form__label">Type*</label>
      <select id="user_type" class="form__select" formControlName="user_type">
        <option>Admin</option>
        <option>Driver</option>
      </select>
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <div class="form__field">
      <label for="password" class="form__label">Email*</label>
      <input id="password" class="form__input"
             formControlName="password" type="password">
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <div class="form__field">
      <label for="repeat_password" class="form__label">Repeat password*</label>
      <input id="repeat_password" class="form__input"
             type="password">
      <p *ngIf="false" class="form__error">Error message</p>
    </div>

    <footer class="form__footer" [class.form__footer_center]="!user.id">
      <button *ngIf="!user.id" class="button button_primary" (click)="saveNewUser()">Create</button>
      <button *ngIf="user.id" class="button button_alarm" (click)="deleteUser()">Delete</button>
      <button *ngIf="user.id" class="button button_primary" (click)="updateUser()">Save</button>
    </footer>
  </form>

</div>
