<ng-container *ngIf="user$ | async as user">
  <form class="form" [formGroup]="userForm" autocomplete="off">
    <header class="form__header">
      <h3 class="form__title">
        {{ !user.id ? 'Create new user' : user.first_name + ' ' + user.last_name }}
      </h3>

      <button class="button form__close" type="button" (click)="closeEditor()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a1{fill:#a4a4b5;}.b1{fill:none;}</style></defs><path class="a1" d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"/><path class="b1" d="M0,0H24V24H0Z"/></svg>
      </button>
    </header>

    <div class="form__field">
      <label for="username" class="form__label">Username*</label>
      <input id="username" class="form__input"
             [class.form__input_warn]="username?.invalid && (username?.dirty || username?.touched)"
             formControlName="username" type="text">
      <div class="form__error"
           *ngIf="username?.invalid && (username?.dirty || username?.touched)">
        <p *ngIf="username?.hasError('required')">This field is required</p>
        <p *ngIf="username?.hasError('usernameExists')">This username already exists</p>
      </div>
    </div>

    <div class="form__field">
      <label for="first_name" class="form__label">First name*</label>
      <input id="first_name" class="form__input"
             [class.form__input_warn]="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
             formControlName="first_name" type="text">
      <div class="form__error"
           *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <p *ngIf="firstName?.hasError('required')">This field is required</p>
      </div>
    </div>

    <div class="form__field">
      <label for="last_name" class="form__label">Last name*</label>
      <input id="last_name" class="form__input"
             [class.form__input_warn]="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
             formControlName="last_name" type="text">
      <div class="form__error"
           *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
        <p *ngIf="lastName?.hasError('required')">This field is required</p>
      </div>
    </div>

    <div class="form__field">
      <label for="email" class="form__label">Email*</label>
      <i class="form__field-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:#ccd2e2;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M12.72,2.03A9.991,9.991,0,0,0,2.03,12.72,10.191,10.191,0,0,0,12.31,22H16a1,1,0,0,0,0-2H12.33a8.274,8.274,0,0,1-8.08-6.03,8.027,8.027,0,0,1,9.71-9.71A8.251,8.251,0,0,1,20,12.33v1.1A1.616,1.616,0,0,1,18.5,15,1.616,1.616,0,0,1,17,13.43V12.18a5.114,5.114,0,0,0-4.26-5.12,5.005,5.005,0,1,0,2.8,8.48,3.7,3.7,0,0,0,4.3,1.21A3.56,3.56,0,0,0,22,13.41V12.32A10.193,10.193,0,0,0,12.72,2.03ZM12,15a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"/></svg>
      </i>
      <input id="email" class="form__input"
             [class.form__input_warn]="email?.invalid && (email?.dirty || email?.touched)"
             formControlName="email" type="email">
      <div class="form__error"
           *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.hasError('required')">This field is required</p>
        <p *ngIf="email?.hasError('email')">This value is not valid</p>
      </div>
    </div>

    <div class="form__field">
      <label for="user_type" class="form__label">Type*</label>
      <select id="user_type" class="form__input form__select"
              [class.form__input_warn]="userType?.invalid && (userType?.dirty || userType?.touched)"
              formControlName="user_type">
        <option>Admin</option>
        <option>Driver</option>
      </select>
      <div class="form__error"
           *ngIf="userType?.invalid && (userType?.dirty || userType?.touched)">
        <p *ngIf="userType?.hasError('required')">This field is required</p>
      </div>
    </div>

    <div class="form__field">
      <label for="password" class="form__label">Password*</label>
      <input id="password" class="form__input"
             [class.form__input_warn]="password?.invalid && (password?.dirty || password?.touched)"
             formControlName="password" type="password" appPasswordVisibility>
      <div class="form__error"
           *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.hasError('required')">This field is required</p>
        <p *ngIf="password?.hasError('invalidPassword')">Password should have minimum 8 characters, at least one number and one letter</p>
      </div>
    </div>

    <div class="form__field">
      <label for="repeat_password" class="form__label">Repeat password*</label>
      <input id="repeat_password" class="form__input"
             [class.form__input_warn]="repeatPassword?.invalid && (repeatPassword?.dirty || repeatPassword?.touched)"
             formControlName="repeat_password" type="password" appPasswordVisibility>
      <div class="form__error"
           *ngIf="repeatPassword?.invalid && (repeatPassword?.dirty || repeatPassword?.touched)">
        <p *ngIf="repeatPassword?.hasError('required')">This field is required</p>
        <p *ngIf="repeatPassword?.hasError('passwordMismatch')">Passwords doesn't match</p>
      </div>
    </div>

    <footer class="form__footer" [class.form__footer_center]="!user.id">
      <button *ngIf="!user.id" class="button button_primary" type="button"
              [disabled]="userForm.invalid"
              (click)="saveNewUser()">Create</button>
      <button *ngIf="user.id" class="button button_alarm" (click)="deleteUser()">Delete</button>
      <button *ngIf="user.id" class="button button_primary" type="button"
              [disabled]="userForm.invalid"
              (click)="updateUser()">Save</button>
    </footer>
  </form>

</ng-container>
