$main-font: 13px/16px Helvetica;
$title-font: 16px/19px Helvetica;
$button-font: 14px/17px Helvetica;

$main-bg: #EEF0F8;
$input-bg: #F3F6F9;
$list-bg: #F4F5F8;
$list-bg-active: #EFF0F4;
$white: #FFFFFF;
$font-color: #3F4254;
$grey: #A4A4B5;
$shadow: #523F690D;
$border: #EBEDF3;
$primary: #2E8FF0;
$primary-shadow: #2E8FF029;
$success: #66BB6A;
$success-shadow: #4CAF505C;
$warn: #EF7DA0;
$warn-shadow: #EF7DA05C;
$alarm: #F44682;
$alarm-shadow: #F4468229;
